@model IEnumerable<My_EShop_2.Category>
@{
    ViewData["Title"] = "Index";
}
<h1 class="text-center"> پنل مدیریت گروه ها </h1>
<hr />
<br />
<div class="col-md-12 col-sm-12 d-flex flex-row flex-wrap justify-content-center m-md-2 m-sm-1 m-0">
    <div class="col-md-4 col-sm-4 m-2">
        <a class="btn btn-block btn-outline-info text-info addcategory" onclick="ShowCreateCategory()">
            افزودن گروه
        </a>
    </div>
    <div class="col-md-4 col-sm-4 col-12 m-2">
        <a class="btn btn-block btn-outline-success" asp-controller="Products" asp-action="Index">
            مدیریت محصولات
        </a>
    </div>
    <div class="col-md-4 col-sm-4 m-2">
        <a class="btn btn-block btn-outline-secondary" asp-controller="UsersManagement" asp-action="Index">
            مدیریت کاربران
        </a>
    </div>
</div>
<table class="table table- table-bordered">
    <thead class="thead-dark">
        <tr>
            <th class="text-center">
                نام گروه
            </th>
            <th colspan="2" class="text-center">
                دستورات
            </th>
        </tr>
    </thead>
    <tbody id="products">
        @foreach (var item in Model)
        {
            <tr data-value="@item.CategoryId">
                <td class="text-center">
                    @item.Title
                </td>
                <td class="text-center">
                    <a class="btn btn-outline-warning btn-sm mb-sm-2 mb-2 m-md-0" id="btn-edit" onclick="EditCategory(@(item.CategoryId),'@(item.Title)')"><i class="fa fa-edit icon-edit" style="color:#ffc107"></i></a>
                    <a class="btn btn-outline-danger btn-sm mb-sm-2 mb-2 m-md-0" id="btn-delete" onclick="DeleteCategory(@item.CategoryId,'@(item.Title)')"><i class="fa fa-trash-alt icon-delete" style="color:#dc3545"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="examplemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <hr />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>
                    نام گروه :
                </label>
                <input class="form-control" id="title-input" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal">بستن</button>
                <button type="submit" class="btn " id="modalbutton" data-work="create"></button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>

        function ShowCreateCategory() {
            //debugger;
            $("#modalbutton").attr("data-work","create")
            $("#examplemodallable").html("افزودن گروه");
            $("#modalbutton").removeClass("btn-warning");
            $("#modalbutton").addClass("btn-success");
            $("#modalbutton").html("افزودن");
            $("#examplemodal").modal();

        }

        $("#modalbutton").on("click", function () {
            var attr = $("#modalbutton").attr("data-work");
            if (attr=="create") {
                var title = $("#title-input").val();
                $.ajax({

                    url: "/Admin/Categories/Create", data: { title: title }, type: "post"
                }).done(function (res) {

                    $(".modal").modal('hide');
                    $("<tr  data-value='" + res.id + "'><td class= 'text-center' >" + res.title + "</td><td class='text-center'><a class='btn btn-outline-warning btn-sm mb-sm-2 mb-2 m-md-0' id='btn-edit'   onclick='EditCategory(" + res.id + "," + '"' + res.title + '"' + ")'   ><i class='fa fa-edit icon-edit' style='color:#ffc107'></i></a><a class='btn btn-outline-danger btn-sm mb-sm-2 mb-2 m-md-0 ml-md-1 ml-sm-1' id='btn-delete' onclick= '   DeleteCategory(" + res.id + "," + '"' + res.title + '"' + ")    '><i class='fa fa-trash-alt icon-delete' style='color:#dc3545'></i></a> </td ></tr>").appendTo("#products")
                    $(".modal").modal('hide');
                    $("title-input").html("");
                    $("#modalbutton").removeClass("btn-success");
                    $("#examplemodallable").html("");
                });
            }
        })


        function EditCategory(id, title) {
            $("#modalbutton").attr("data-work", "");
            $("#examplemodallable").html("ویرایش گروه");
            $("#modalbutton").addClass("btn-warning");
            $("#modalbutton").html("ثبت");
            $("#examplemodal").modal();
            $("#title-input").val(title);
            $("#modalbutton").one("click", function () {

                var newtitle = $("#title-input").val();
                $.ajax({

                    url: "/Admin/Categories/Edit", data: { title: newtitle, id: id }, type: "post"
                }).done(function (res) {

                    $(".modal").modal('hide');
                    $("[data-value=" + id + "]>td:nth-child(1)").html(res);
                    $("title-input").html("");
                    $("#modalbutton").removeClass("btn-warning");
                    $("#examplemodallable").html("");
                });

            })

        }












        function DeleteCategory(Id, cname) {
            Swal.fire({
                title: 'حذف گروه',
                text: 'آیا از حذف گروه ' + "'" + cname + "'" + ' مطمئن هستید ؟',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'بله'
            }).then((result) => {
                if (result.value) {
                    $.ajax({

                        url: "/Admin/Categories/Delete", data: { Id: Id }, type: "post"
                    }).done(function (res) {

                        $("[data-value=" + Id + "]").detach();
                        Swal.fire(
                            'موفقیت',
                            'گروه ' + "'" + res.title + "'" + ' با موفقیت حذف گردید',

                        )
                    })
                }
            })
        }
    </script>
}
